@page
@model FaulknerCountyMuseumGallery.Pages.Artworks.UploadModel
@{
}
<div class="container">
    <div class="row">
        <div class="col-sm-12 bb">
            <div class="col-md-4">
                <form asp-page="Upload" method="post" enctype="multipart/form-data">
                    <input class="form-control" asp-for="Upload" type="file"
                        accept=".jpg, .png, .jpeg, .gif, .bmp, .tif, .tiff|image/*" />
                    <input class="form-control" type="submit" value="Upload" />
                </form>
            </div>
        </div>
    </div>
</div>
